[submodule "depends/Zeta"]
	path = emulator_src/Zeta
	url = https://github.com/redcode/Zeta.git
[submodule "depends/Z80"]
	path = emulator_src/Z80
	url = https://github.com/redcode/Z80.git
[submodule "depends/zasm"]
	path = tools/zasm
	url = https://github.com/Megatokio/zasm.git
[submodule "emulator_src/emscripten/emscripten-browser-file"]
	path = emulator_src/emscripten/emscripten-browser-file
	url = https://github.com/Armchair-Software/emscripten-browser-file.git
